* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin: 0;
}
body {
    font-family: 'Gilroy';
}
.container {
    max-width: 1440px;
}
.row.logo-bar {
    align-items: center;
}
.logo-bar {
    padding: 20px 0;
    max-width: 98%;
    margin: 0 auto;
}
.logo-bar h1 {
    font-size: 21px;
    text-align: center;
    font-weight: 500;
    line-height: 115%;
}
.logo {
    max-width: 100%;
}
.row.enter-buttons {
    justify-content: flex-end;
    text-align: right;
}
.enter-buttons a {
    margin-left: 60px;
    font-size: 18px;
    color: #6d6d6d;
}

ul.container {
    margin-bottom: 0;
}
.menu {
    background-color: #070b6a;
}
.menu ul{
    padding: 21px 0;
    display: flex;
    justify-content: flex-end;
    
}
.menu li {
    list-style: none;
    margin-left: 40px;
}
.menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.bottom-menu {
    padding: 21px 15px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.25);
}
.bottom-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-menu li {
    list-style: none;
}
.less-eyes {
    display: flex;
    align-items: center;
}
.bottom-menu img {
    margin-right: 10px;
}
.bottom-menu a {
    color: #000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}
.bottom-menu input {
    max-width: 80px;
    border: none;
    outline: none;
}

.main-news {
    padding: 80px 15px 60px;
}
.main-new-image {
    max-width: 515px;
}
.main-new-image img {
    width: 105%;
}
.main-new-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 395px;
    padding: 40px 25px 35px;
    background-color: #E4F0F6;
}
.fresh-news h3 {
    margin-bottom: 35px;
}
.fresh-news-block {
    display: flex;
    align-items: flex-start;
}
.fresh-news-block .date {
    font-size: 13px;
    margin-right: 30px;
}
.fresh-news-header {
    font-size: 20px;
    font-weight: 600;
}

.news-img, .news-tags, .news-descripton {
    max-width: 440px;
}
.news-img img {
    width: 100%;
    margin-bottom: 20px;
}
.news-tags {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.news-tags a{
    font-size: 16px;
    padding: 5px 10px;
}
.news-tags a:first-child {
    color: #fff;
    background-color: #e74967;
}
.news-tags a:last-child {
    color: #e74967
}
.date {
    font-size: 20px;
    color: #939393;
}
.news-header {
    max-width: 350px;
    font-size: 23px;
    font-weight: 600;
}
.news-descripton {
    font-size: 18px;
}

footer {
    font-size: 16px;
}
footer .row {
    padding: 90px 0 45px;
}
footer .col:first-child {
    align-items: flex-end;
}
.footer-header, .footer-info {
    font-size: 14px;
}
.footer-info {
    line-height: 40px;
}
.footer-header {
    font-weight: 600;
}
.footer-header-big {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 40px;
}
.activity li {
    list-style: none;
}
.activity a {
    color: #000;
    font-weight: 600;
}